$userBgColor: #ffe6e6;
$customerBgColor: #beefff;
.chatbox-bar{
    background: #cc3e3e;
    color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	.fa{
		font-size: 20px;
		line-height: 34px;
		padding: 0 10px
	}
	.hd{
		overflow:hidden;
		padding:0 5px;
		.large{
			font-size:14px;
			line-height:normal;
			padding-top:3px;
		}
		.small{
			font-size:10px;
		}
	}
}
.chatbox-modal{
	max-height: 300px;
	height:0;
    overflow-x: auto;
	position: relative;
	transition:all .3s;
	.history{
		height: 255px;
		overflow: hidden;
		overflow-y: auto;
		span{
			font-size: 11px;
			color: #8cb3d0;
			margin: -2px 14px 10px;
		}
		>div{
			&:first-child{
				margin-top:15px;
			}
			margin:35px 5px 0px 5px;
			color: #666;
			background: $userBgColor;
			padding: 5px;
			clear:both;
			font-size:12px;
			border-radius: 5px;
		}
		.user{
			.grey{
				right: 30px;
			}
			.white{
				right:30px;
			}
		}
		.customercare{
			background:$customerBgColor;
			.grey{
				left: 30px;
			}
			.white{
				left:30px;
			}
		}
		.user, .customercare{
			position:relative;
			float:none;
			.grey, .white{
				content: " ";
				border:10px solid $userBgColor;
				border-right-color: transparent;
				border-left-color: transparent;
				border-top-color: transparent;
				top: -21px;
				position: absolute;
				margin: 0 auto;
			}
			.white{
				top:-20px;
				border-bottom-color:$white;
			}
			&.left{
				top: -5px;
				left: auto;
				margin-right:10px;
				.grey, .white{
					border: 7px solid $userBgColor;
					border-right-color: transparent;
					border-bottom-color: transparent;
					border-top-color: transparent;
					top: 6px;
					right: -15px;
					left: auto;
					margin: 0;
				}
				.white{
					right:-14px;
					border-left-color:$userBgColor;
				}
			}
			&.right{
				top: -5px;
				margin-left: 10px;
				.grey, .white{
					border: 7px solid $customerBgColor;
					border-left-color: transparent;
					border-bottom-color: transparent;
					border-top-color: transparent;
					top: 6px;
					left: -15px;
					margin: 0;
				}
				.white{
					left:-14px;
					border-right-color:$customerBgColor;
				}
			}
		}
	}
	.action{
		position:absolute;
		bottom:0;
		width:100%;
		.button{
			float:right;
			padding: 5px 12px;
			font-size: 22px;
			margin: 0;
		}
		.textarea{
			overflow:hidden;
			padding-right:10px;
			line-height: 0;
		}
		textarea{
			width:100%;
			min-height:43px;
			max-height:43px;
			border: 1px solid #ccc;
			border-left: 0;
			border-bottom: 0;
		}
	}
}
.chatbox-outr{
	position: fixed;
    bottom: 0;
	width:320px;
    right: 0;
	border: 1px solid $ccc_grey;
	&.open{
		.chatbox-modal{
			display:block;
			height: 300px;
		}
		.fa-toggle-up:before{
			content: "\f150";
		}
	}
}