.filter-stack{
	margin:0;
	padding:0;
	li{
		cursor:pointer;
		line-height: normal;
		display:inline-block;
		padding:5px 3px 5px 20px;
		background: #29a2c7;
		color:$white;
		transition: all .15s ease-in;
		@include border-radius(4px);
		span{
			padding-right:8px;
		}
		.fa{
			content:"\f00d";
			font: normal normal normal 16px/1 FontAwesome;
			padding-left: 0;
			opacity:0;
			transition: all .15s ease-in;
		}
		&:hover{
			padding-left:13px;
			.fa{
				padding-left: 4px;
				padding-right: 3px;
				opacity:1;
				transform: rotate(90deg);
			}
		}
	}
	&.small{
		li{
			font-size:12px;
			padding: 2px 3px 3px 15px;
			span{
				padding-right:2px;
			}
			&:hover{
				padding-left:10px;
				.fa{
					padding-right: 1px;
				}
			}
		}
		.fa{
			
		}
	}
}