.body{
	max-width:100%; margin:0
}
.outer-container{
	font-size:13px;
	background:#00ceff;
	&.top-most{
		background:$ccc_grey;
		li{
			display:inline-block;
			text-align:center;
			font-size:13px;
		}
	}
	&.menu{
		/* border-bottom:1px solid #000; */
	}
	.flex{
		display:flex;
		font-size:14px;
	}
}
.wrapper{
	max-width:1000px;
	margin:0 auto;
		nav{
			background: #00ceff;
			a{		
			&:hover, &.selected{
				background: #00a9d2
			}
		}	
	}
	.action-bar{
		padding: 10px 0 20px;
		.logo{
			float:left;
			width:20%;
			font-size: 40px;
		}
		.search{
			float:left;
			width:45%;
			input{
				line-height:37px;
			}
		}
		.profile{
			float:right;
			width:30%;
		}
	}
	.profile{
		ul{
			text-align:right;
		}
		li{
			text-align:center;
			display:inline-block;
		}
	}
}