.listing-icons{
	padding:0;
	li{
		background: #ebecff;
		margin: 1px;
		margin-left:0;
		margin-top:0;
		cursor:pointer;
		position:relative;
		&:after{
			position:absolute;
			transition: all .3s ease-in;
			left:0;
			right:0;
			top:0;
			z-index:0;
			margin:0 auto;
			width:0;
			display:block;
			background:rgba(000,000,000,.1);
			content: " ";
			height:100%;
		}
		&:hover:after{
			width:100%;
		}
	}
	&.small{
		line-height:30px;
		li{
			line-height:30px;
			font-size:1rem;
		}
		.fa{
			width:30px;
			line-height:30px;
			font-size:1.25rem;
		}
		span{
			line-height:30px;
		}
	}
	&.medium{
		line-height:30px;
		li{
			line-height:40px;
			font-size:1.5rem;
		}
		.fa{
			width:40px;
			line-height:40px;
		}
		span{
			line-height:40px;
			font-size:1.25rem;
		}
	}
	&.large{
		line-height:30px;
		li{
			line-height:50px;
			font-size:2rem;
		}
		.fa{
			width:50px;
			line-height:50px;
		}
		span{
			line-height:50px;
			font-size:1.5rem;
		}
	}
	&.inline{
		li{
			width:auto;
			display:inline-block;
			padding-right:15px;
			padding-left:5px;
			margin-bottom:4px;
		}
	}
	&.round{
		li{
			@include border-radius(5px);
			&:after{
				@include border-radius(5px);
			}
		}
	}
	.fa{
		text-align:center;
		color:$product_title;
	}
	.fa-chrome{
		color:#10b334
	}
	.fa-edge{
		color:#0068c3;
	}
	.fa-firefox{
		color:#c35c00;
	}
	.fa-google{
		color:#00abff;
	}
	.fa-pinterest-p{
		color:#c30000;
	}
	.fa-skype{
		color:#1fabff;
	}
	.fa-jsfiddle{
		color:#ff7800;
	}
	span{
		color:#888;
		display:inline-block;
	}
}