nav{ 
	background:#ccc;
	a{
		padding:10px 20px;
		display:inline-block;
		color:$white;
		text-decoration:none;
		transition:background .5s ease-in-out;
		&:hover,&.selected{
			background: #888;
		}
		@media only screen and (max-width:480px){
			display:block;
		}
	}
	.menu-bar{
		color:$white;
		font-size:2rem;
		padding: 6px 10px 6px 20px;
	}
}
@media only screen and (min-width:480px){
	.menu-bar{
		display:none;
	}
}