.switcher{
	margin-bottom: 15px;
	.switch{
		width:50px;
		position:relative;
		background: $ccc_grey;
		display:inline-block;
		cursor: pointer;
		@include border-radius(5px);
		padding:1px 5px;
		transition: all .4s ease-in-out;
		.fa{
			position:relative;
			z-index:1;
			font-size: 1.250rem;
			line-height:30px;
			transition:all .4s ease-in-out;
			left:0;
		}
		.line{
			z-index:0;
			content : " ";
			height:3px;
			background:$white;
			transition:all .4s ease-in-out;
			top:50%;
			margin-top:-2px;
			bottom:0;
			position:absolute;
			width:98%;
		}
		&.checked{
			background: $product_title;
			.fa{
				left:98%;
				color: $white;
			}		
		}
	}
	input[type=checkbox]{
		height:0;
		overflow:hidden;
		margin:0;
		visibility:hidden;
		width:0;
	}	
	&.square{
		.switch{
			@include border-radius(0);
		}
		.fa:before{
			content:"\f0c8";
		}
	}
	&.orange{
		.checked{
			background: $star_color;
		}
	}
}